body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.score {
  color: purple;
}

.start {
  width: 100px;
  height: 50px;
  margin: 5px;
}

.grid {
  width: 80vh;
  max-width: 90vw;
  max-height: 90vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
}

.grid div {
  width: 10%;
  height: 10%;
}

.snake {
  background-color: blue;
}

.apple {
  background-color: purple;
}
